/* You can add global styles to this file, and also import other style files */
body {

    background-color: aliceblue;
}

h1 {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


.movie-container {
    height: 100%;
    padding: 15px 18px;
    margin: auto;
    margin-top: 64px;
    width: 80%;
    align-items: center;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


img {
    cursor: pointer;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';