<label *ngIf="selectedMovie.released_date">
    <p><strong>Released Date:</strong> {{ selectedMovie.released_date }} </p>
</label>
<label *ngIf="selectedMovie.plot">
    <p><strong>Plot:</strong> {{ selectedMovie.plot }} </p>

</label>
<label *ngIf="selectedMovie.rating">
    <p><strong>Rating:</strong> {{ selectedMovie.rating }} </p><div class="star"></div>

</label>
<label *ngIf="selectedMovie.director">
    <p><strong>Director:</strong> {{ selectedMovie.director}} </p>

</label>
<label *ngIf="selectedMovie.actors">
    <p><strong>Actors:</strong> {{selectedMovie.actors }} </p>

</label>
<label *ngIf="selectedMovie.genre">
    <p><strong>Genre:</strong> {{ selectedMovie.genre}} </p>
</label>