<div class="fluid-container movie-container" *ngIf="selectedMovie">
    <div class="row">
        <div class="col-md-6">
           <img src="../../../assets/inception_poster.jpg" class="poster-image">
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <h2> {{selectedMovie.title}}</h2>
                <hr>
            </div>
            <div class="col-md-12">
                <app-metadata [selectedMovie]="selectedMovie"></app-metadata>
            </div>
        </div>
    </div>

</div>