<div class="fluid-container" *ngIf="!isPortrait; else landScape">
    <div class="row" *ngIf="selectedMovie">
        <div class="col-md-6">
            <img src="../../../assets/{{selectedMovie.poster}}" class="poster-image">
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <h1> {{selectedMovie.title}}</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <app-metadata [selectedMovie]="selectedMovie"></app-metadata>
            </div>
        </div>
    </div>
</div>

<ng-template #landScape>
    <div class="row" *ngIf="selectedMovie">
        <div class="col-md-12">
            <h1> {{selectedMovie.title}}</h1>
            <hr>
            <app-metadata [selectedMovie]="selectedMovie"></app-metadata>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/{{selectedMovie.poster}}" class="poster-image">
        </div>
        <div class="col-md-6">
            <app-metadata [selectedMovie]="selectedMovie"></app-metadata>

        </div>
    </div>
</ng-template>