.movie-container {
    width: 95%;
    display: block;
    max-height: fit-content;
}

img {
    width: 200px;
    height: 300px;
}

.movie-carousel {
    display: inline-flex;
    max-width: 100%;
    gap:15px;
}

.full-width {
    width: 100%;
}

.genre-filter{
  display: flex;
  justify-content: flex-end;
}