<div class="fluid-container movie-container" *ngIf="allMovies">
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row full-width">
        <div class="row">
            <div class="carousel" *ngIf="allMovies">
                <img [src]="'assets/' + getCurrentImage()" alt="Carousel Slide" >
            </div>
            <div class="controls">
                <button (click)="prevSlide()">Previous</button>
                <button (click)="nextSlide()">Next</button>
            </div>
        </div>