<div class="fluid-container movie-container" *ngIf="allMovies">
  <div class="container">
    <div class="genre-filter">
      <mat-form-field>
        <mat-label>Genres</mat-label>
        <mat-select (selectionChange)="filterCarousel($event)">
          <mat-option *ngFor="let genre of genres" [value]="genre">{{
            genre
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="container movie-carousel">
    <div *ngFor="let slide of filteredMovies">
        <img src="assets/{{ slide.poster }}" />
      </div>
  </div>
</div>
